/*Formatação do icone do menu hamburger e das barras*/
#menuIcon div {
    width: 35px;
    height: 5px;
    background-color: silver;
    margin: 6px 0;
}

#menuIcon {
    display: none;
    cursor: pointer;
    padding-right: 20px;
}

.bar1,
.bar2,
.bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

/* Fade out the second bar */
.change .bar2 {
    opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}


html {
    height: 100%;
}

body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
}

/*Formatação do cabeçalho e dos seus elementos*/
header {
    display: flex;
    flex-direction: row;
    height: 100px;
    color: white;
    background-color: black;
    align-items: center;
}

#logo {
    text-align: center;
    width: 150px;
}

#logo img {
    height: 75px;
}

h1 {
    text-align: left;
    margin: 0;
}

.avatar-area img {
    height: 30px;
    border-radius: 50%;
    margin-left: 10px;
}

.avatar-area {
    display: flex;
    flex-direction: row;
    padding-right: 20px;
    align-items: center;
    justify-content: flex-end;
    flex-grow: 1;
}

/*Área que contém o menu, a secção principal, a barra lateral e o footer*/
.container {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

/*Formatação da secção principal*/
section {
    background-color: rgba(0, 0, 0, 0.1);
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.content {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
}

.left-content {
    flex-grow: 1;
    padding: 15px;
}

/*Formatação da área de navegação*/
nav {
    background-color: black;
    min-width: 150px;
    color: silver;
    overflow: hidden;
    transition: max-height 1s;
}

nav ul {
    margin: 25px 0 0 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    list-style-type: none;
}

nav li {
    height: 30px;
    line-height: 30px;
    width: 80%;
    padding-left: 10px;
    margin: 0 auto 20px auto;
}

nav i,
nav a {
    display: inline-block;
    color: silver;
    text-decoration: none;
}

nav i {
    width: 20px;
    font-size: 12pt;
}

.sel a,
.sel,
.sel i {
    color: darkred;
    background-color: silver;
}

/*Formatação do conteúdo da página da apresentação*/
#main p,
#main li {
    line-height: 1.5;
}

/*Formatação do rodapé*/
footer p {
    margin: 0;
}

footer a {
    color: black;
    text-decoration: none;
    ;
}

footer a:hover {
    text-decoration: underline;
}

footer {
    height: 25px;
    line-height: 25px;

    width: calc(100% - 30px);
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.1);
    text-align: center;
}

/*Formatação da área aside e dos seus items*/
aside {
    min-width: 150px;
    background-color: rgba(0, 0, 0, 0.05);
    padding: 15px;
    font-size: 9pt;
}

.disc {
    display: flex;
    flex-direction: row;
    padding: 10px 5px;
}

.disc:nth-child(odd) {
    background-color: rgba(0, 0, 0, 0.15);

}

.disc:nth-child(even) {
    background-color: rgba(0, 0, 0, 0.05);
}

.disc-name {
    flex-grow: 1;
}

.bt-area {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.del-disc {
    cursor: pointer;
}

.disc-area {
    display: flex;
    flex-direction: column;
}

.bt {
    background-color: silver;
    padding: 5px;
    margin-right: 5px;
    cursor: pointer;
}

#btn-filter {
    margin-left: 50px;
}

.search-item {
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
}
.estampas-area {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.estampa {
    margin: 5px;
    line-height: 1.5;
    background-color: rgba(0, 0, 0, 0.05);
}

.estampa-img {
    text-align: center;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.1);
}

.estampa-name {
    font-weight: bold;
}

.estampa-description {
    font-weight: lighter;
}
